@import "tailwindcss";

@font-face {
  font-family: elmssans-bold;
  src: url(assets/Fonts/ElmsSans-Bold.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: elmssans-medium;
  src: url(assets/Fonts/ElmsSans-Medium.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: elmssans-light;
  src: url(assets/Fonts/ElmsSans-Light.woff2) format("woff2");
  font-display: swap;
}

@theme {
  --font-elmssans-bold: elmssans-bold;
  --font-elmssans-medium: elmssans-medium;
  --font-elmssans-light: elmssans-light;
  --color-main: #e0f7fa;
  --color-layout: #1f4e79;
  --color-card: #2f80ed;
  --color-hover: rgba(0, 0, 0, 0.5);
  --breakpoint-desktop: 1000px;
  --breakpoint-tablet: 830px;
}
body {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  display: none;
  color: rgb(47, 128, 237);
}

input,
button {
  outline: none;
}

button {
  cursor: pointer;
}

.loading-dot {
  width: 15px;
  height: 15px;
  background: #e0f7fa;
  border-radius: 50px;
  margin-right: 8px;
  margin-top: 20px;
  opacity: 0;
  animation-name: showhide;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.loading-dot:nth-child(1) {
  animation-delay: 0.3s;
}
.loading-dot:nth-child(2) {
  animation-delay: 0.6s;
}
.loading-dot:nth-child(3) {
  animation-delay: 0.9s;
}

@keyframes showhide {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.slick-slide {
  pointer-events: none;
}

.slick-dots {
  bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 2px;
}

.slick-dots li {
  width: auto;
  z-index: 20;
}

.slick-dots li button:before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 0%;
  background: #1f4e79;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  background: #2f80ed;
  opacity: 1;
}
.slick-prev,
.slick-next {
  width: 45px;
  height: 45px;
  z-index: 20;
  background-color: #e0f7fa;
  border-radius: 50%;
}
.slick-prev:hover,
.slick-next:hover {
  background-color: #e0f7fa;
}
.slick-prev:focus,
.slick-next:focus {
  background-color: #e0f7fa;
}
.slick-prev {
  top: 90%;
  left: 20px;
}

.slick-next {
  top: 90%;
  right: 40px;
}

.slick-prev:before,
.slick-next:before {
  opacity: 1;
  font-size: 40px;
  color: #1f4e79;
}
select {
  font-family: elmssans-medium;
  appearance: base-select;
  overflow: hidden;
  padding: 10px;
  border: none;
  outline: none;
}
::picker(select) {
  border: none;
  background-color: #e0f7fa;
  margin: 0.4rem 0;
}
option:checked {
  background-color: #2f80ed;
  color: #e0f7fa;
}
option:hover {
  background-color: #2f80ed;
  color: #e0f7fa;
}
