@import "tailwindcss";

.loader {
  width: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 3px solid gray;
  border-right-color: #c1f11d;
  animation: l2 1s infinite linear;
}
@keyframes l2 {
  to {
    transform: rotate(1turn);
  }
}
