@import "tailwindcss";

@font-face {
  font-family: elmssans-bold;
  src: url(assets/Fonts/ElmsSans-Bold.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: elmssans-medium;
  src: url(assets/Fonts/ElmsSans-Medium.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: elmssans-light;
  src: url(assets/Fonts/ElmsSans-Light.woff2) format("woff2");
  font-display: swap;
}

@theme {
  --font-elmssans-bold: elmssans-bold;
  --font-elmssans-medium: elmssans-medium;
  --font-elmssans-light: elmssans-light;
  --color-main: #e0f7fa;
  --color-layout: #1f4e79;
  --color-card: #2f80ed;
  --color-hover: rgba(0, 0, 0, 0.5);
  --breakpoint-desktop: 1000px;
  --breakpoint-tablet: 830px;
}
body {
  user-select: none !important;
  -moz-user-select: none !important;
  -webkit-user-drag: none !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  display: none !important;
  color: rgb(47, 128, 237);
}

input,
button {
  outline: none !important;
}

button {
  cursor: pointer !important;
}

.loading-dot {
  width: 15px;
  height: 15px;
  background: white;
  border-radius: 50px;
  margin-right: 8px;
  margin-top: 20px;
  opacity: 0;
  animation-name: showhide;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.loading-dot:nth-child(1) {
  animation-delay: 0.3s;
}
.loading-dot:nth-child(2) {
  animation-delay: 0.6s;
}
.loading-dot:nth-child(3) {
  animation-delay: 0.9s;
}

@keyframes showhide {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.slick-slide {
  pointer-events: none !important;
}

.slick-dots {
  bottom: 20px !important;
  display: flex !important;
  justify-content: center;
  gap: 12px !important;
}

.slick-dots li {
  width: auto;
  z-index: 20 !important;
}

.slick-dots li button:before {
  content: "" !important;
  width: 15px !important;
  height: 15px !important;
  border-radius: 50%;
  background: #2f80ed;
  opacity: 1 !important;
}

.slick-dots li.slick-active button:before {
  background: #1f4e79;
  opacity: 1;
}
.slick-prev,
.slick-next {
  width: 45px !important;
  height: 45px !important;
  z-index: 20 !important;
}

.slick-prev {
  top: 90% !important;
  left: 20px !important;
}

.slick-next {
  top: 90% !important;
  right: 40px !important;
}

.slick-prev:before,
.slick-next:before {
  font-size: 40px !important;
  color: white;
  opacity: 1;
}
