@import "tailwindcss";

@font-face {
  font-family: elmssans-bold;
  src: url(assets/Fonts/ElmsSans-Bold.ttf);
}

@font-face {
  font-family: elmssans-medium;
  src: url(assets/Fonts/ElmsSans-Medium.ttf);
}

@font-face {
  font-family: elmssans-light;
  src: url(assets/Fonts/ElmsSans-Light.ttf);
}

@theme {
  --font-elmssans-bold: elmssans-bold;
  --font-elmssans-medium: elmssans-medium;
  --font-elmssans-light: elmssans-light;
  --color-main: #e0f7fa;
  --color-layout: #1f4e79;
  --color-card: #2f80ed;
  --color-hover: rgba(0, 0, 0, 0.5);
  --breakpoint-desktop: 1000px;
  --breakpoint-tablet: 830px;
}

p {
  color: #224d86;
}
