@import "tailwindcss";

@font-face {
  font-family: elmssans-bold;
  src: url(assets/Fonts/ElmsSans-Bold.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: elmssans-medium;
  src: url(assets/Fonts/ElmsSans-Medium.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: elmssans-light;
  src: url(assets/Fonts/ElmsSans-Light.woff2) format("woff2");
  font-display: swap;
}

@theme {
  --font-elmssans-bold: elmssans-bold;
  --font-elmssans-medium: elmssans-medium;
  --font-elmssans-light: elmssans-light;
  --color-main: #e0f7fa;
  --color-layout: #1f4e79;
  --color-card: #2f80ed;
  --color-hover: rgba(0, 0, 0, 0.5);
  --breakpoint-desktop: 1000px;
  --breakpoint-tablet: 830px;
}
body {
  user-select: none !important;
  -moz-user-select: none !important;
  -webkit-user-drag: none !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  display: none !important;
  color: rgb(47, 128, 237);
}

input,
button {
  outline: none !important;
}

button {
  cursor: pointer !important;
}

.loading-dot {
  width: 15px;
  height: 15px;
  background: white;
  border-radius: 50px;
  margin-right: 8px;
  margin-top: 20px;

  opacity: 0;
  animation-name: showhide;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.loading-dot:nth-child(1) {
  animation-delay: 0.3s;
}
.loading-dot:nth-child(2) {
  animation-delay: 0.6s;
}
.loading-dot:nth-child(3) {
  animation-delay: 0.9s;
}

@keyframes showhide {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
